<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      The following errors occured:
    </div>
    <ul>
    <% object.errors.full_messages.each do |field, msg| %>
      <li><%= field %> <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>